/**
 * File
 */

%file-active {
  color: $menu-hover-color;

  .file__icon {
    color: $accent-color;
  }
}

.file {
  position: relative;
  display: block;
  width: 100%;
  max-width: fit-content;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: $menu-color;
  background-color: $layout-bg-color;
  cursor: pointer;

  & > span {
    position: relative;
    display: block;
    padding: 0.8rem;
    background-color: inherit;
    white-space: nowrap;
    overflow: hidden;
    @extend %transition;

    @include media('>=#{$mobile-menu-breakpoint}') {
      padding: 1rem;
    }
  }

  &_active > span,
  &:hover > span {
    @extend %file-active;
  }

  &__icon {
    width: 100%;
    max-width: 2rem;
  }
}
