extends ~Views/layouts/default.pug

block variables
  -
    const common = require('~Data/common.json');
    const page = require('~Data/home.json');
    const title = page.head.title;
    const description = page.head.description;

block append style
  link(href=require('~Styles/home.scss'), rel='stylesheet')

block append script
  script(src=require('~Scripts/home.js'))

block content
  header.header
    include ~Views/components/navbar.pug

  main.js-main.main 
    section#hello.js-section.section.section_wide.hello
      p Привет 👋, меня зовут
      h1 Юрий Лысюк
      p.hello__desc Front-end developer
      hr.hr_invisible.hello__hr
      p.comment.text_size_smaller Посетите мою страничку на GitHub
      p.js-code.code.text_size_smaller.
        const githubLink = '#{ common.social.github.link }';

