/**
 * Code
 */

.code,
code {
  font-family: $code-font;
  font-weight: $code-font-weight;

  &.hljs {
    pre & {
      padding-top: 0;
      padding-bottom: 0;
      background: $code-bg-color;
      border: $border-width solid $border-color;
      border-radius: $border-radius;
    }

    & a {
      position: relative;
      color: inherit;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: -0.2rem;
        border: $border-width solid transparent;
      }

      &:hover:after {
        border-bottom-color: unset;
      }
    }
  }
}
