<pre>
  <code class="js-code">
/**
 * Обо мне
 *
 * В IT я уже давно и в последние годы выполнял заказы на фрилансе: верстка,
 * администрирование сайтов и серверов. Параллельно работал над своим проектом
 * — сервисом поиска выгодного расчетного счета для малого бизнеса.
 *
 * С января 2022 года решил развиваться как фронтенд-разработчик. Люблю работать
 * над качественным продуктом и радовать пользователей удобными, быстрыми и
 * красивыми интерфейсами.
 *
 * Готов учиться новому. Сейчас работаю над сервисом для поиска и отслеживания
 * прогресса просмотра сериалов на React, Redux, TypeScript.
 *
 * Ищу интересный и полезный для общества проект в продуктовой компании с
 * сильной и отзывчивой командой.
 */

 const props = {
  position: 'фронтенд-разработчик',
  what: 'интересный и полезный для общества проект',
  where: 'в продуктовой компании',
  with: 'с сильной и отзывчивой командой',
  how: 'удаленно',
};

const yuriyLysyukJob = findAwesomeJob('Юрий Лысюк', props);

function findAwesomeJob(developer, props) {
  return `${developer} — ${props.position} ${props.where}!`;
}
  </code>
</pre>
