<pre><code class="js-code">
/**
* Образование
*/

const education = [
  {
    course: 'Responsive Web Design',
    organization: 'freeCodeCamp',
    years: '2021',
    duration: '1 месяц',
    studied: ['HTML', 'CSS'],
    certificate: 'https://www.freecodecamp.org/certification/lysyuk-y/responsive-web-design',
  },
  {
    course: 'Оператор ЭВМ 4 разряда',
    organization: 'Сургутский профессиональный колледж',
    years: '2002-2005',
    duration: '2 года 10 месяцев',
    studied: [
      'Pascal',
      'Информатика',
      'Устройство ЭВМ и операционных систем',
      'Разработка программного обеспечения',
    ],
  },
];

</code></pre>
