pre
  code.js-code.
    /**
    * Simple Encryption #1 - Alternating Split
    * @link https://www.codewars.com/kata/57814d79a56c88e3e0000786
    */

    function encrypt(text, n) {
      if (!text || n < 0) return text;

      if (n === 0) {
        return text;
      } else {
        const oddPart = [...text].filter((_, i) => i % 2).join('');
        const evenPart = [...text].filter((_, i) => i % 2 === 0).join('');

        return encrypt(oddPart + evenPart, n - 1);
      }
    }

    function decrypt(encryptedText, n) {
      if (!encryptedText || n < 0) return encryptedText;

      if (n === 0) {
        return encryptedText;
      } else {
        const encryptedArr = [...encryptedText];
        const oddPart = encryptedArr.slice(0, Math.floor(encryptedArr.length / 2));
        const evenPart = encryptedArr.slice(Math.floor(encryptedArr.length / 2));
        let decryptedText = '';

        evenPart.forEach((v, i) => {
          decryptedText += v;

          if (oddPart[i]) {
            decryptedText += oddPart[i];
          }
        });

        return decrypt(decryptedText, n - 1);
      }
    }
