pre
  code.js-code.
    /**
    * Профессиональные навыки
    */

    const skills = [
      'JavaScript (ES6+)',
      'HTML, SCSS, BEM',
      'npm, Gulp, Webpack, DevTools',
      'Git (GitHub, Bitbucket)',
      'Основы PHP',
      'English (B1), reading docs',
    ];
