/**
 * Text types
 */

.comment {
  position: relative;
  font-size: 1.6rem;
  line-height: 140%;
  color: #607b96;

  &::before {
    content: '// ';
  }

  @include media('>=sm') {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

.text {
  &_size {
    &_smaller {
      font-size: 1.4rem;
      line-height: 140%;

      @include media('>=sm') {
        font-size: 1.6rem;
        line-height: 2.1rem;
      }
    }
  }
}
