/**
 * Variables
 */

/**
 * Fonts
 */

$font-family: 'Fira Code', monospace;
$font-family-title: 'Fira Code', monospace;

$body-font: $font-family;
$body-font-weight: 400;

$header-font: $font-family-title;

// For REM / EM
$basic-font-size: 62.5%;
$paragraph: 1.8rem;
$line-height: 2.4rem;

/**
 * Pallete
 */

/**
 * Basic Colors
 */

$blue: #00f;
$red: #f00;
$white: #fff;
$black: #000;
$gray: #ccc;

$text-color: $black;
$inverted-text-color: $white;
/**
 * Mixing Colors
 */

