/**
 * Base
 */


 body {
  padding: 1.5rem;
  width: 100vw;
  height: 100vh;
  background-color: $body-bg-color;

  @include media('>=sm') {
    padding: 3rem;
  }

  @include media('>=xxl') {
    padding: 7rem;
  }
}

h2 {
  .section & {
    padding: 2.1rem 1rem 2.9rem;
  }
}

