include ~Views/components/side-menu-tab-list
include ~Views/components/side-menu-filter-list

mixin side-menus(sideMenus)
  each sideMenu in sideMenus
    +side-menu(sideMenu)

mixin side-menu(sideMenu)
  - const { id, name, type, isChecked, items, filters } = sideMenu;

  .side-menu
    input.side-menu__toggle(id=`toggle-${id}`, type='checkbox', checked=isChecked)

    label.side-menu__title(for=`toggle-${id}`)
      i.fa-solid.fa-caret-right
      |
      | #{ name }

    case type
      when 'tabs'
        +side-menu-tab-list(items)
      when 'filter'
        +side-menu-filter-list(filters)
